<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="OTCConnectionString" connectionString="Data Source=195.192.2.249;Initial Catalog=Medinet 20141029;Persist Security Info=True;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <appSettings>
    <add key="General" value="C:/Índices/"/>
    <add key="Sintomas" value="C:/Índices/"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
