body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 450px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.login {
    text-align: center;
}

.form-control1 {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-controln1 {
    width: 100%;
    height: 34px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-horizontal .control-label1 {
    text-align: center;
}

.navbar-form .form-group {
    margin-bottom: 0;
    vertical-align: middle;
}

.form-control2 {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.col-md-21 {
    text-align: center;
}

.centerTable {
    text-align: center;
}

    .centerTable table {
        margin: 0 auto;
        text-align: left;
    }

.form-control3 {
    height: 60px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.form-control4 {
    height: 2px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.centerTable1 div {
    margin: 0 auto;
    text-align: left;
}

.centerTable2 table {
    border-radius: 15px;
}

.form-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    color: #999;
    opacity: 1;
    color: #999;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.size td {
    width: 100%;
}



/*Here We will add some css for style our treeview*/
.collapse1 {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x2401.png');
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.expand1 {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}


.collapse11 {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x2401.png');
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.expand11 {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.treeview ul {
    font: 14px Arial, Sans-Serif;
    margin: 0px;
    padding-left: 20px;
    list-style: none;
}


.treeviewc ul {
    font: 14px Arial, Sans-Serif;
    margin: 0px;
    padding-left: 20px;
    list-style: none;
}

.treeview > li > a {
    font-weight: bold;
}

.treeviewc > li > a {
    font-weight: bold;
}

.treeview li {
}

    .treeview li a {
        padding: 4px;
        font-size: 12px;
        display: inline-block;
        text-decoration: none;
        width: auto;
    }


.treeviewc li a {
    padding: 4px;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    width: auto;
}

.scrollbar1 {
    overflow-x: scroll;
    overflow-y: no-display;
    width: 500px;
    height: 600px;
}

.scrollbar32 {
    overflow-x: scroll;
    overflow-y: no-display;
    width: 100%;
    height: 200px;
}

.scrollbar2 {
    overflow-x: scroll;
    overflow-y: no-display;
    width: 500px;
    height: 200px;
    height: 600px;
}

/*pagination*/
.pagination {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .pagination li {
        float: right;
        margin: 3px;
    }

        .pagination li a {
            display: block;
            padding: 3px 5px;
            color: #fff;
            background-color: #44b0dd;
            text-decoration: none;
        }

            .pagination li a.active {
                border: 1px solid #000;
                color: #000;
                background-color: #fff;
            }

            .pagination li a.inactive {
                background-color: #eee;
                color: #777;
                border: 1px solid #ccc;
            }


/*          webgrid         */
/*WEBGRID
    ----------------------------------------------------*/
.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
    height: 100%;
    display: table;
    border: solid 1px #000000;
    border-top-left-radius: 50px;
    border-collapse: separate;
    background-color: white;
    border-bottom: none;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .webgrid-table td, th {
        /* border: 1px solid #028934;*/
        padding: 3px 7px 2px;
        border-bottom: 1px solid #000000;
    }

.webgrid-header1 th {
    background-color: #05606d;
    /*background-image:url(/Images/TopBar.png);*/
    color: white;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-bottom: 2px;
    padding: 0px 5px;
    height: 30px;
    font-size: 12px;
    border-radius: 10px;
    border-bottom: none;
    border-left: 0px;
}

.webgrid-header th {
    background-color: #05606d;
    /*background-image:url(/Images/TopBar.png);*/
    color: white;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-bottom: 2px;
    padding: 0px 5px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    border-bottom: none;
    border-left: 0px;
}

.webgrid-footer {
    font-size: 15px;
    font-style: oblique;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border-bottom: none;
}

.webgrid-row-style {
    padding: 3px 7px 2px;
    vertical-align: central;
}

.webgrid-alternating-row {
    background-color: #92D4E1;
    padding: 3px 7px 2px;
}

.webgrid-a {
    background-color: #028934;
    color: white;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}
/*          FIN           */

.buton {
    text-align: center;
}

.columntable {
    width: 200px;
}

.columncenter {
    width: 50px;
    text-align: center;
}

.columntablelt {
    width: 50px;
}

.columntable150 {
    width: 110px;
    text-align: justify;
}

.columntable200 {
    width: 220px;
    text-align: justify;
}


.labels {
    font-size: 16px;
    font-style: italic;
    color: #065869;
}

.labelsform {
    font-style: italic;
    color: #065869;
}

.labelstop {
    font-size: 50px;
    font-style: italic;
    color: #065869;
}

/*Bloqueo*/
.pantalla_bloqueo {
    display: none;
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 1000;
}

#mensaje_bloqueador {
    color: white; /* COLOR DEL TEXTO */
    padding-top: 20% !important; /* TAMAÑO DEL REÑENO, PARTE SUPERIOR(TOP)*/
    text-align: center; /* ALINEACION DEL TEXTO*/
    font-weight: bold;
    z-index: 5000;
}


#textoas {
    color: black; /* COLOR DEL TEXTO */
    padding-top: 20% !important; /* TAMAÑO DEL REÑENO, PARTE SUPERIOR(TOP)*/
    text-align: center; /* ALINEACION DEL TEXTO*/
    font-weight: bold;
    z-index: 5000;
}

#imagen_bloqueador {
    color: white;
    padding-top: 10px;
    text-align: center;
    z-index: 5000;
}
/*FIN*/

/*VENTANA FLOTANTE*/
.vflotante {
    position: absolute;
    right: 60%;
    left: 40%;
    top: 1%;
    width: 1000px;
    height: 100px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

    .vflotante:hover {
        right: 60%;
        left: 40%;
        top: 5%;
    }



.barflotante {
    position: absolute;
    right: 70%;
    left: 30%;
    top: 1%;
    width: 1000px;
    height: 100px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

    .barflotante:hover {
        right: 70%;
        left: 30%;
        top: 5%;
    }
/*FIN*/

.column1 {
    width: 61%;
}

.column2 {
    width: 20%;
    text-align: center;
}

.column2 {
    width: 20%;
}

.affix {
    top: 7.5%;
    width: 72.1%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix-top {
    position: static;
    top: -35px;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.labelout {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.labelin {
    font-weight: 600;
    margin: 0 0 -1px;
    padding: 15px 25px;
    color: #555;
    text-align: center;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

.fileUploadhtml {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUploadhtml input.uploadhtml {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


/*DIV EMERGENTE, AGREGAR CATEGORÍA*/

#forminsertcat {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#forminsertcatl2 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}


#insertbranch {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#insertaddress {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#insertphones {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#xmlresult {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#insertnewimage {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#forminsertcatl3 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#insertcatlevel1 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#resumecats {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin: 0px auto;
    margin-top: 120px;
    position: relative;
    padding: 10px;
    width: 500px;
    min-height: 250px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
}

    .content-popup h2 {
        color: #48484B;
        border-bottom: 1px solid #48484B;
        margin-top: 0;
        padding-bottom: 4px;
    }

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    /*position: absolute;*/
    /*right: 15px;*/
}

/*FIN*/

.classh2 {
    font-size: 25px;
    font-style: italic;
    color: #345869;
}



.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.fileUploadhtml {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUploadhtml input.uploadhtml {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


#insertproducts {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}


#divimagesadvers {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /*z-index: 1001;*/
}

#insertproductsH {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#chatform {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

/*  DROPDOWN*/

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #84898f;
}



.stylish-input-group .input-group-addon {
    background: white !important;
    cursor: pointer;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.column5 {
    width: 5%;
}

.column10 {
    width: 10%;
}

.column35 {
    width: 35%;
}


.column10 {
    width: 10%;
}

.column23 {
    width: 21.66%;
}
