.paragraphtitle {
    text-align: center;
    font-size: 30px;   
    font-style:italic;
    color:white;
}

.paragraphcontent{
    color:white;
    font-size:16px;
    text-align:justify;
}

.links{
    color:#065977;
    text-decoration:underline;
    cursor:pointer;
    font-size:18px;
}

.listyle{
    cursor:pointer;
}


.hovers{
    background-color:grey;
}


.scrollbarmanual {
    overflow-x: scroll;
    overflow-y: no-display;
    overflow-x:hidden;
    width: 95.3%;
    /*height: 500px;*/
}