@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);
.Estilo8 {
        color: #c65151; 
    }
.Estilo6 {
        color: #000d75;
    }
.loading, .loading > td, .loading > th, .nav li.loading.active > a, .pagination li.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        background-size: 40px 40px;
        animation: 2s linear 0s normal none infinite progress-bar-stripes;
        -webkit-animation: progress-bar-stripes 2s linear infinite;
    }
.btn.btn-default.loading, input[type="text"].loading, select.loading, textarea.loading, .well.loading, .list-group-item.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
        background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    }
.title {
  position: relative;
  -webkit-perspective: 400;
  perspective: 400;
  padding-left: 17px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #524b4b;
}
.title:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 6px;
  background: #de5246;
  border-radius: 8px;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 0.50s ease-out forwards;
          animation: title-border-slide-in 0.50s ease-out forwards;
}
.title .title-word {
  opacity: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 0.15s 0s ease-out forwards;
          animation: roll-in 0.15s 0s ease-out forwards;
}
.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
          animation: roll-in 0.15s 0.175s ease-out forwards;
}
.title .title-word:nth-child(3) {
  -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
          animation: roll-in 0.15s 0.35s ease-out forwards;
}
.title .title-word:nth-child(4) {
  -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
          animation: roll-in 0.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
.title_new {
  position: relative;
  -webkit-perspective: 400;
  perspective: 400;
  padding-left: 17px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #524b4b;
}
.title_new:before {
}
.title_new .title-word_new {
  opacity: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.title_new .title-word_new:nth-child(1) {
  -webkit-animation: roll-in 0.15s 0s ease-out forwards;
          animation: roll-in 0.15s 0s ease-out forwards;
}
.title_new .title-word_new:nth-child(2) {
  -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
          animation: roll-in 0.15s 0.175s ease-out forwards;
}
.title_new .title-word_new:nth-child(3) {
  -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
          animation: roll-in 0.15s 0.35s ease-out forwards;
}
.title_new .title-word_new:nth-child(4) {
  -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
          animation: roll-in 0.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
    0% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}
* {
  box-sizing: border-box;
}
p, h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.header {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}
#dynamic_footer {
  border-top: 2px solid rgba(222, 83, 71, 0.10);
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 70px;
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
}



