<?xml version="1.0"?>
<!-- Nota: como alternativa para editar manualmente este archivo puede utilizar la herramienta Administración de sitios Web para
     configurar los valores de la aplicación. Utilice la opción Sitio Web->Configuración de Asp.Net
     en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en machine.config.comments, que se encuentra
     generalmente en \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config
 -->
<configuration>
	<appSettings>
		<add key="XML" value="C:/prueba2/"/>
		<add key="ActiveSubst" value="C:/Indices/DEF 59/"/>
		<add key="Indications" value="C:/Indices/DED 19/"/>
    <add key="CIE" value="C:/Índices/"/>
		<add key="Therapeutic" value="C:/Indices/DEF 59/"/>
		<add key="Species" value="C:/Índices/PEV Colombia 2011/XML/"/>
		<add key="General" value="C:/Indices/DEF 59/"/>
		<!--<add key="General" value="C:/Índices/"/>-->
		<add key="News" value="C:/Letras2/News/"/>
		<add key="Cultivos" value="C:/Índices/DEAQ Colombia 2011/XML/"/>
		<add key="Semillas" value="C:/Índices/XML/DEAQ22 México/"/>
		<add key="Usos" value="C:/Índices/DEAQ Colombia 2011/XML/"/>
		<add key="IngActivos" value="C:/Índices/DEAQ Colombia 2011/XML/"/>
		<add key="DEAQGen" value="C:/Índices/XML/DEAQ22 México/"/>
		<add key="ActiveSubstCAD" value="C:/Índices/CAD 42/"/>
		<add key="IndicationsCAD" value="C:/Indices/CAD/"/>
		<add key="TherapeuticCAD" value="C:/Índices/CAD 42/XML/"/>
		<add key="GeneralCAD" value="C:/Índices/CAD 42/"/>
		<add key="ActiveSubstWI" value="C:\WestIndies\Indices\"/>
		<add key="TherapeuticWI" value="C:\WestIndies\Indices\"/>
		<add key="GeneralWI" value="C:\WestIndies\Indices\"/>
		<add key="VMGTherapeutic" value="C:\Índices\XML\VMG8\"/>
		<add key="VMGGeneral" value="C:/Índices/VMG8/"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="PLMConectorDB.Properties.Settings.DEFConnectionString" connectionString="Data Source=172.20.200.67; Initial Catalog=Medinet; User=plmuser;Password=l@t1n@p1m2008" providerName="System.Data.SqlClient" />-->
		<!--<add name="PLMConectorDB.Properties.Settings.DEFConnectionString" connectionString="Data Source=195.192.2.17; Initial Catalog=Medinet 20130716; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>-->
		<add name="PLMConectorDB.Properties.Settings.DEFConnectionString" connectionString="Data Source=195.192.2.249; Initial Catalog=Medinet 20141029; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<!--<add name="PLMConectorDB.Properties.Settings.DEFConnectionString" connectionString="Data Source=localhost;Initial Catalog=Medinet 20121127;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<add name="PLMConectorDB.Properties.Settings.VMGConnectionString" connectionString="Data Source=195.192.2.17; Initial Catalog=Medinet 20120516; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name="PLMConectorDB.Properties.Settings.CAD40ConnectionString" connectionString="Data Source=195.192.2.17; Initial Catalog=Medinet 20120516; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name="PLMConectorDB.Properties.Settings.DEAQConnectionString" connectionString="Data Source=195.192.2.17; Initial Catalog=DEAQ; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name="PLMConectorDB.Properties.Settings.PEVConnectionString" connectionString="Data Source=195.192.2.17; Initial Catalog=PEV; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name="PLMConectorDB.Properties.Settings.GuiaSiteConnectionString" connectionString="Data Source=195.192.2.17;Initial Catalog=Guia 20110314;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name="PLMConectorDB.Properties.Settings.GuiaPSiteConnectionString" connectionString="Data Source=195.192.2.17;Initial Catalog=Guia 20110314;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name="PLMConectorDB.Properties.Settings.GUIAConnectionString" connectionString="Data Source=195.192.2.17;Initial Catalog=Guia 20110314;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos de depuración en la página compilada.
            Dado que este proceso afecta al rendimiento, debe establecer este valor como true durante la depuración.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            La sección <authentication> permite configurar el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<!--<authentication mode="Windows"/>-->
		<!--
            La sección <customErrors> permite configurar las acciones que se deben llevar a cabo/cuando un error
            no controlado tiene lugar durante la ejecución de una solicitud.  Específicamente, permite a los desarrolladores
            configurar páginas de error html que se mostrarán en lugar de un seguimiento de pila de errores.
        -->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<!-- 
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        -->
		</customErrors>
		<!--
            DIRECCIÓN URL COMPLETA DE REDIRECCIONES DE CLIENTE
            Algunos dispositivos móviles requieren que la dirección URL para redirecciones de cliente esté completa.
        -->
		<httpRuntime useFullyQualifiedRedirectUrl="true"/>
		<!--
          ESPECIFICAR TIPO DE DICCIONARIO DE DATOS SIN COOKIES
          Esto provocará que el contenido del diccionario aparezca en la cadena de consulta de la dirección URL de solicitud local.
          Esto es necesario para la autenticación de formularios que trabajan con dispositivos sin cookies.
        -->
		<mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData"/>
		<deviceFilters>
			<filter name="isJPhone" compare="Type" argument="J-Phone"/>
			<filter name="isHTML32" compare="PreferredRenderingType" argument="html32"/>
			<filter name="isWML11" compare="PreferredRenderingType" argument="wml11"/>
			<filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10"/>
			<filter name="isGoAmerica" compare="Browser" argument="Go.Web"/>
			<filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer"/>
			<filter name="isMyPalm" compare="Browser" argument="MyPalm"/>
			<filter name="isPocketIE" compare="Browser" argument="Pocket IE"/>
			<filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser"/>
			<filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser"/>
			<filter name="isEricssonR380" compare="Type" argument="Ericsson R380"/>
			<filter name="isNokia7110" compare="Type" argument="Nokia 7110"/>
			<filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif"/>
			<filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp"/>
			<filter name="supportsColor" compare="IsColor" argument="true"/>
			<filter name="supportsCookies" compare="Cookies" argument="true"/>
			<filter name="supportsJavaScript" compare="Javascript" argument="true"/>
			<filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true"/>
		</deviceFilters>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
