@{
    ViewBag.Title = "errorfile";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404 - File Not Found</title>
    @Styles.Render("~/Content/css")
</head>

<body style="background-color:#333333">
    <div style="width:100%; text-align:center;">
        <img src="@Url.Action("imagehead", "Production")" style="width:50%;" />
    </div>
    <br />
    <div style="width:100%;" class="centerTable1">
        <div style="width:60%; height:70%;" class="centerTable2">
            <img src="@Url.Action("imagefoot", "Production")" style="width:100%; height:100%" />
        </div>
    </div>
</body>
</html>