    /*<----  Estilos DEACI 28 hacia atras  (ACTUALIZADOS)  ---->*/

    /*<---  INCLUIR EN EL ARCHIVO HTML: <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'><!DOCTYPE html>   ---->*/

    /*div.story {
    }

    p.Intro {
        font-size: 20pt;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        color: #003366;
        text-transform: uppercase;
    }

    p.t1-estado {
        font-size: 20pt;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-weight: bold;
        color: #003366;
    }

    span.cursiva-new {
        font-style: italic;
    }

    p.t10-3as-producto {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    p.t11-3as-descripci-n {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    p.t12-sucursales {
        color: #993300;
        font-weight: bold;
        font-family: 'Alegreya Sans';
        font-size: 18px;
    }

    p.t2-ciudad {
        font-size: 18pt;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-weight: bold;
        color: #003366;
    }

    p.t3-empresa {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        color: #993300;
        font-weight: bold;
    }

    p.t4-direcci-n {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        color: #00688B;
        font-weight: bold;
    }

    p.T-6-Direccion-3as-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 18px;
        color: #5C3317;
        font-weight: bold;
        text-align: left;
    }

    p.T-5-Direccion-3as-Contratante-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 18px;
        color: #5C3317;
        font-weight: bold;
        text-align: left;
    }

    td._as_Productos {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

        td._as_productos:hover {
            background: rgba(250, 239, 161, 0.10);
        }

    td._as_Descripcion {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

        td._as_descripcion:hover {
            background: rgba(250, 239, 161, 0.10);
        }

    p.t5-titulo-productos {
        font-size: 15pt;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        text-align: center;
        color: #003399;
        text-transform: uppercase;
    }

    p.S-01-Titulo-Introduccion-new {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
    }

    p._-2-Titulo-Introduccion {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
    }

    p.T-7-Titulo-Prod-Descripcion-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }

    p.T-9-Titulo-Productos-nuevo {
        font-size: 15pt;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        text-align: center;
        color: #003399;
        text-transform: uppercase;
    }

    p.S-4-Titulo-Producto-nuevo {
        border-bottom: 2px solid #f0f1e7;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 30px;
        color: #236B8E;
        text-transform: uppercase;
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(204, 102, 0, 0.50) 0%, rgba(250, 239, 161, 0.1) 70%);
        border-image-slice: 3;
    }

    p.S-4-T-tulo-Producto-nuevo {
        border-bottom: 2px solid #f0f1e7;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 30px;
        color: #236B8E;
        text-transform: uppercase;
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(204, 102, 0, 0.50) 0%, rgba(250, 239, 161, 0.1) 70%);
        border-image-slice: 3;
    }

    p.T-10-3as-Producto-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    p.T-11-Descripcion-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: justify;
    }

    p.T-3-Empresa-3as-nuevo {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 28px;
        color: #236B8E;
        text-transform: uppercase;
    }

    p.t6-sub-titulo-cursivo {
        font-size: 15pt;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        text-align: center;
        color: #003399;
        text-transform: uppercase;
        font-style: italic;
    }

    p.t7-sub-titulo-productos {
        font-size: 15pt;
        font-family: 'Alegreya Sans';
        font-weight: bold;
        text-align: center;
        color: #003399;
        text-transform: uppercase;
    }

    p.t8-cod-prod-des {
    }

    p.x1-2-titulo-introduccion {
        font-family: 'Alegreya Sans';
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: #8E2323;
        text-align: center;
    }

    p.x1-sub-secc-1-linea {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 18px;
        color: #0066CC;
        text-transform: uppercase;
    }

    p.x1-sub-secc-2-lineas {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 18px;
        color: #0066CC;
        text-transform: uppercase;
    }

    p.x1-sub-secc-3-lineas {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 18px;
        color: #0066CC;
        text-transform: uppercase;
    }

    p.x10-tabla-titulo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
    }

    p.x11-tabla-franja-gris {
    }

    p.x12-tabla-interior-izquierda {
        font-family: 'Alegreya Sans';
        font-size: 16px;
    }

    p.x14-referencias {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
    }

    p.S-16-Referencias-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
    }

    p.x15-registro-productos {
        font-family: 'Alegreya Sans';
        font-size: 16px;
    }

    p.x16-pie-empresa {
        font-family: 'Alegreya Sans';
        font-size: 18px;
        color: #993300;
        font-weight: bold;
    }

    p.S-14-Pie-Empresa-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 18px;
        color: #993300;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    p.S-15-Pie-Datos-Empresa-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    p.x17-pie-datos-empresa {
        font-family: 'Alegreya Sans';
        font-size: 15px;
        font-weight: bold;
    }

    p.S-18-Pie-Logo-Centrado-nuevo {
        text-align: center;
    }

    p.x2-subsub-secc {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 18px;
        color: #0066CC;
        text-transform: uppercase;
    }

    p.x3-nombre-producto {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 28px;
        color: #236B8E;
        text-transform: uppercase;
    }

    p.x4-base-de-propaganda {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
        color: #CC6600;
    }

    p.S-5-Base-de-Propaganda-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 18px;
        font-weight: bold;
        color: #CC6600;
    }

    p._-Base-de-Propaganda {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
        color: #CC6600;
    }

    p.x5-foto-espacio {
        text-align: center;
    }

    p.x7-parrafo-normal {
        font-size: 16px;
        font-family: 'Alegreya Sans';
        text-align: justify;
    }

    p.S-7-Parrafo-Normal-nuevo {
        font-size: 16px;
        font-family: 'Alegreya Sans';
        text-align: justify;
    }

    p.x6-parrafo-normal {
        font-size: 13pt;
        font-family: 'Alegreya Sans';
        text-align: justify;
    }

    p.x8-bandos {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-indent: 12px;
    }

    p.S-10-a-Bandos-3 {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-indent: 12px;
    }

    p.S-10-Bullets-2-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-indent: 20px;
    }

    p.S-9-Bullets-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-indent: 12px;
    }

    p._--Parrafo-Negritas-ALTAS-Normal {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p.x9-bandos-2 {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-indent: 12px;
    }

    span.bold {
        font-weight: bold;
    }

    span.Bold-new {
        font-weight: bold;
    }

    span.bold-cursiva {
        font-weight: bold;
        font-style: italic;
    }

    span.Palomita-new {
        font-family: Wingdings;
    }

    span.Bullet-Tabla {
        font-family: Wingdings;
    }

    span.cursiva {
        font-style: italic;
    }

    span.subindice {
        vertical-align: sub;
    }

    span.superindice {
        vertical-align: super;
        font-size: 12px;
    }

    span.symbol {
    }

    p.x11-tabla-franja-gris {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    p.x10-tabla-titulo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    p.S-11-Tabla-Titulo-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: left;
        font-weight: bold;
    }

    p.s-12-tabla-titulo-franja-nuevo-spinreact {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    p.Subtitulo-en-Texto-Editorial {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 16px;
    }


    p.S-12-Tabla-Titulo-Franja-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    p.x13-tabla-interior-centrado {
        font-family: 'Alegreya Sans';
        font-size: 15px;
        text-align: center;
    }

    table.Tabla-3as {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    table.Tabla-3as:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    table.Tabla-en-Producto {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    td.Celdas {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    td.Celdas:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    td.celdas-coloreadas {
        background-color: #545454;
    }

    td.Pantalla {
        background-color: Silver;
        border: 1px;
        font-weight: bold;
    }

    td.x3as-cabeza {
    }

    td.x3as-descripcion {
    }

    td.x3as-productos {
    }

    table.transparente {
        border: 0px;
    }

    table.tabla-producto-n {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    table.tabla-producto-n:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    table.tabla-producto-n td {
        border: 0px;
    }

    table.transparente td {
        border: 0px;
    }

    td._a-LOGO-derecha {
        text-align: right;
        width: 551px;
    }

    td.PRODUCTO-seccion {
        text-align: left;
        width: 646px;
    }

    td.PRODUCTO-secci�n {
        text-align: left;
        width: 646px;
    }

    p.S-6-Foto-Espacio-nuevo {
        text-align: center;
    }

    p.S-20-Registro-Productos-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    p.S-20-Registro-Productos {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
    }

    span.Superindice-new {
        vertical-align: super;
    }

    p.S-13-Tabla-Iinterior-Izq-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: left;
    }

    p.S-13-Tabla-Iinterior-Centrado-nuevo {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
    }

    p.ALINEACI-N-DER-logo {
        text-align: right;
    }*/






    /*<------------------------------------------------------------->*/

    /*<----  Estilos DEACI 29 hacia adelante  (ACTUALIZADOS)  ---->*/

    /*<---   INCLUIR EN EL ARCHIVO HTML: <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'><!DOCTYPE html>   --->*/

    body {
        background-color: White;
        margin-left: 45px;
        margin-right: 35px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    p-_-Foto_espacio {
        text-align: center;
    }

    a {
        color: #af3900;
        font-family: 'Alegreya Sans';
        font-size: 18px;
        font-weight: normal;
        background-color: rgba(245, 229, 139, 0.0);
        text-decoration: none;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,9)), color-stop(50%, rgba(0,0,0,.9)), to(rgba(0,0,0,2)));
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(172, 172, 172, 0.9) 0%, rgba(250, 239, 161, 0.1) 100%);
    }

    a {
        position: relative;
        color: #236B8E;
    }

        a:after {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 0;
            height: 1px;
            background-color: #236B8e;
            content: "";
            transition: width 2.5s;
        }

        a:hover {
            font-weight: bold;
        }

            a:hover:after {
                width: 100%;
            }

        a:visited {
            text-decoration: none;
            color: #663300;
            font-weight: bold;
        }

    img:hover {
        -webkit-transition-duration: 1.5s;
        -webkit-transform: scale(1);
        -webkit-box-shadow: 0px 0px 30px #ccc;
    }

    span.alpha_symbol-new {
        font-size: 16px;
    }

    span.alpha-symbol-new {
        font-size: 16px;
    }

    p.pf_titulo_producto {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 28px;
        color: #236B8E;
        text-transform: uppercase;
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(204, 102, 0, 0.50) 0%, rgba(250, 239, 161, 0.1) 10%);
        border-image-slice: 3;
        background: -webkit-linear-gradient(#0094db, #0e5070);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p.pf-titulo-producto {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 28px;
        color: #236B8E;
        text-transform: uppercase;
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(204, 102, 0, 0.50) 0%, rgba(250, 239, 161, 0.1) 10%);
        border-image-slice: 3;
        background: -webkit-linear-gradient(#0094db, #0e5070);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p.pf_especial_titulo_prod {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 28px;
        color: #236B8E;
        text-transform: uppercase;
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(204, 102, 0, 0.50) 0%, rgba(250, 239, 161, 0.1) 10%);
        border-image-slice: 3;
        background: -webkit-linear-gradient(#0094db, #0e5070);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p.pf_especial-titulo-prod {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 28px;
        color: #236B8E;
        text-transform: uppercase;
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(204, 102, 0, 0.50) 0%, rgba(250, 239, 161, 0.1) 10%);
        border-image-slice: 3;
        background: -webkit-linear-gradient(#0094db, #0e5070);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    span.cr_logo_derecha {
        float: right;
        margin-left: 30px;
        margin-top: 10px;
    }

    span.cr_cursiva_normal {
        font-style: italic;
        font-family: 'Alegreya Sans';
        font-size: 17px;
    }

    span.cr-logo-derecha {
        float: right;
    }

    p.pf_pie_empresa {
        color: #af3900;
        font-family: 'Alegreya Sans';
        font-size: 25px;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 0 1px;
        padding: 0 0 2px;
        border-radius: 3px;
        text-decoration: none;
        color: #af3900;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,9)), color-stop(50%, rgba(0,0,0,.6)), to(rgba(0,0,0,2)));
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(172, 172, 172, 0.9) 0%, rgba(250, 239, 161, 0.1) 100%);
        border-image-slice: 3;
        text-align: center;
    }

    p.pf-pie-empresa {
        color: #af3900;
        font-family: 'Alegreya Sans';
        font-size: 25px;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 0 1px;
        padding: 0 0 2px;
        border-radius: 3px;
        text-decoration: none;
        color: #af3900;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,9)), color-stop(50%, rgba(0,0,0,.6)), to(rgba(0,0,0,2)));
        -webkit-border-image: -webkit-linear-gradient(top left, rgba(172, 172, 172, 0.9) 0%, rgba(250, 239, 161, 0.1) 100%);
        border-image-slice: 3;
        text-align: center;
    }

    p.pf_pie_datos {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    p.pf-pie-datos {
        font-family: 'Alegreya Sans';
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    p.pf_base_propaganda {
        font-family: 'Alegreya Sans';
        font-size: 19px;
        font-weight: bold;
        color: #CC6600;
    }

    p.pf-base-propaganda {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        font-weight: bold;
        color: #CC6600;
    }

    p.pf_normal {
        font-size: 17px;
        font-family: 'Alegreya Sans';
        text-align: justify;
    }

    p.pf-normal {
        font-size: 17px;
        font-family: 'Alegreya Sans';
        text-align: justify;
    }

    p.pf_bullets-2 {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-indent: 20px;
    }

    p.pf-bullets-2 {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-indent: 20px;
    }

    p.pf_bullets-3 {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-indent: 35px;
    }

    p.pf_bullets-1 {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-indent: 12px;
    }

    p.pf-bullets-1 {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-indent: 12px;
    }

    span.cr_negritas {
        font-weight: bold;
    }

    span.cr-negritas {
        font-weight: bold;
    }

    span.cr_rubro {
        font-weight: bold;
        color: #236B8E;
    }

    span.cr-rubro {
        font-weight: bold;
        color: #236B8E;
    }

    span.cr_subtitulo {
        font-weight: bold;
        color: #236B8E;
    }

    span.cr-subtitulo {
        font-weight: bold;
        color: #236B8E;
    }

    span.cr_rubro-especial {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 29px;
        color: #236B8E;
        text-transform: uppercase;
    }

    span.cr-rubro-especial {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 29px;
        color: #236B8E;
        text-transform: uppercase;
    }

    p.tb_titulo {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: left;
        font-weight: bold;
    }

    p.tb-titulo {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: left;
        font-weight: bold;
    }

    p.tb_franja {
        font-family: 'Alegreya Sans';
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    p.tb-franja {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: center;
        font-weight: bold;
    }

    p.tb_interior-centrado {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
    }

    p.tb-interior-centrado {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
    }

    table.tb_producto {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    tr.tb_producto:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    table.tb-producto {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    tr.tb-producto:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    tr.tb_producto_blca:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    td.cl_celda-general {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

        td.cl_celda-general:hover {
            background: rgba(250, 239, 161, 0.10);
        }

    td.cl-celda-general {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    tr.Tabla-en-Producto:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    table.Tabla-en-Producto {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    td.cl_pantalla {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
        background: rgba(172, 172, 172, 0.05);
    }

    td.cl-pantalla {
        background-color: Silver;
        border: 1px;
        font-weight: bold;
    }

    table.tb_transparente td {
        border: 0px;
    }

    table.tb-transparente td {
        border: 0px;
    }

    p.pf_foto_centrada {
        text-align: center;
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 6px;
        margin-top: 6px;
    }

    p.pf-foto-centrada {
        text-align: center;
        margin-bottom: 6px;
        margin-top: 6px;
    }

    p.tb_interior-izquierda {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: left;
    }

    p.tb-interior-izquierda {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: left;
    }

    #rubro {
        background-color: #dedede;
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: left;
        font-weight: bold;
        padding: 5px;
    }

    p.pf_registro {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }

    span.cr_superindice {
        vertical-align: super;
    }

    table.Tabla-en-Producto {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: center;
    }

    p.pf_referencias {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        font-weight: bold;
    }

    p.pf_titulo_interior-producto {
        font-family: 'Alegreya Sans';
        font-weight: bold;
        font-size: 29px;
        color: #236B8E;
        text-transform: uppercase;
    }

    td.tb_3as {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    table.tb_3as {
        border-radius: 4px;
        border: 1px solid rgba(172, 172, 172, 0.50);
    }

    tr.tb_3as:hover {
        background: rgba(250, 239, 161, 0.10);
    }

    p._a_descripcion {
        font-family: 'Alegreya Sans';
        font-size: 20px;
        text-align: justify;
        margin-left: 7px;
        margin-right: 7px;
    }

    span.cr_palomita {
        font-family: Wingdings;
    }

    span.cr_bullet-tabla {
        font-family: Wingdings;
    }

    p.pf_introduccion_titulo {
        font-family: 'Alegreya Sans';
        font-size: 23px;
        text-transform: uppercase;
        font-weight: bold;
        color: #8E2323;
        text-align: center;
    }

    p.pf_tabla_espacio {
        font-family: 'Alegreya Sans';
        font-size: 17px;
        text-align: justify;
    }

    .Tabla-en-Prod-TRANSPARENTE {
        align-content: center;
    }