@charset "utf-8";
/* CSS Document */

h1{
	font-size:180%;
	font-weight:normal;
	color:#555;
}

p{
	clear:both;
	margin:0;
	padding:.5em 0;
}
pre{
	display:block;
	font:100% "Courier New", Courier, monospace;
	padding:10px;
	border:1px solid #bae2f0;
	background:#e3f4f9;	
	margin:.5em 0;
	overflow:auto;
	width:800px;
}

img{border:none;}
table {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}
div.titulodiv
{
padding:5px;
background-color:#2694B4;
color:White;
border:solid 1px #c3c3c3;
width:400px;
cursor:pointer;
font-weight:bold;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.but3d{
    background: url(agregaro.png) /* Url de la imagen */ no-repeat center center, #62BC0F /* Color del botón */;
    display: block !important;
    width: 25px !important;
    height: 25px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
    box-shadow:
    /* Sombras externa */
    inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
    /* Sombra interna */
    0 5px 20px rgba(0,0,0,.1);
}

/* Al presionar */
.but3d:active {
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
    background-size: 55%; /* Cambiamos el tamaño de la imagen */
}
div.wrapper {
    margin: 20px auto;
    width: 350px;
}

p {
    font-family: georgia;
    font-size: 1rem;
    line-height: 25px;
    margin: 24px 0;
    text-align: center;
}

nav.vertical {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    overflow: hidden;
    text-align: center;
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }

      nav.vertical > ul > li > a {
        background-color: rgb(157, 34, 60);
        background-image: -webkit-linear-gradient(#193E51, #184F6E,#0B6887);
        background-image: -moz-linear-gradient(#193E51, #184F6E, #0B6887);
        background-image: -o-linear-gradient(#193E51, #184F6E, #0B6887);
        background-image: linear-gradient(#193E51, #184F6E, #0B6887);
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size: .85rem;
        font-weight: 500;
        height: 50px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
      }


          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
          }
 
          nav.vertical > ul > li > div > ul {
            list-style-type: none;
          }

            nav.vertical > ul > li > div > ul > li > a {
             background-color: rgb(255,255,255);
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 1.1rem;
             padding: 10px 0;
             text-decoration: none;
             transition: all 0.15s linear;
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: lightBlue;
                color: rgb(255,255,255);
                padding: 10px 0 10px 50px;
              }
  .modalBackground
 {
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
 }
 .modalPopup
 {
        background-color: #FFFFFF;
        width: 300px;
        border: 3px solid #0DA9D0;
        border-radius: 12px;
        padding:0
      
 }
.modalPopup .header
 {
        background-color: #2694B4;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
}
.modalPopup .body
{
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
}
.modalPopup .footer
{
        padding: 6px;
}
.modalPopup .yes, .modalPopup .no
{
        height: 23px;
        color: White;
        line-height: 23px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
}
.modalPopup .yes
{
        background-color: #2FBDF1;
        border: 1px solid #0DA9D0;
}
.modalPopup .no
{
        background-color: #9F9F9F;
        border: 1px solid #5C5C5C;
}
.modalPopup
{
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 100%;
}
div.contenidodiv
{ 
padding:0px;
display:none;
border:solid 1px #2694B4;
width:100%
}

p.info{
    font-size:9pt;
    font-family:arial,helvetica;
    text-align:justify;
}

p.titulo{
	font-size:11pt;
	font-family:arial, helvetica;
	font-weight: bold;
	text-align:center;
	color: #003399;
	text-transform:uppercase;
}  

p.stitulo{
	font-size:11pt;
	font-family:arial, helvetica;
	font-weight: bold;
	text-align:center;
	color: #003399;
	text-transform:uppercase;
}

span.ciudad{
	font-size:16pt;
	font-family:arial, helvetica;
	font-weight: bold;
	text-align:center;
	font-weight: bold;
	color: #003366;
}

p.datos{
	font-size:10pt;
	font-family:arial, helvetica;
}

body{
	background-color: #FFFFFF; 
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

p.bandos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-indent: 12px;
}

p.base-de-prop- {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p.bandos1 {                                               
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-indent: 12px;
}
                                           
p.forma-farmac- {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #993300;
	font-weight: bold;
}

p.ingrediente {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
}

p.medio-de-d- {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}							

.medio-de-d-{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}			

p.medio-de-d-prod-nuevo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

p.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.base-de-prop-{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
        
p.pie {
	color: #993300;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

p.pie-de-columna {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

p.pie-de-tabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #993300;
	font-weight: bold;
	text-align: center;
}

p.pie-de-tabla-2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #993300;
	font-weight: bold;
	text-align: center;
}

p.pie1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}

p.t-tulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #0066CC;
	text-transform:uppercase;
}

p.st-tulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #0066CC;
	text-transform:uppercase;
}

p.t-tulo-prod-nuevo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0066CC;
	font-weight: bold;
	text-transform:uppercase;
}

p.st-tulo-prod-nuevo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0066CC;
	font-weight: bold;
	text-transform:uppercase;
}

p.t-tulo-prod-nuevo-2-l-neas {
        font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0066CC;
	font-weight: bold;
	text-transform:uppercase;
}

p.st-tulo-prod-nuevo-2-l-neas {
        font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0066CC;
	font-weight: bold;
	text-transform:uppercase;
}

p.tabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}

p.texto-de-leyendas-de-prot- {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	text-align: justify;
}

span.cursivo-normal{
	font-style:italic;
}

.medio-de-d-prod-nuevo{                                               
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0066CC;
	font-weight: bold;
}

span.rubros-azules {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:  #0033CC;
	font-weight: bold;
	text-transform:uppercase;
}


span.symbol {}
span.symbolprop-bt {}
span.tabla {}
td.pantalla {}
td.tabla {}

p.productos{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #993300;
}

p.direcci-n{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}      
				  
.NomLab{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0066CC;
}
				  
.indicacion{
	a:link color: #999999;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #993300;
}

.Ind_producto{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
				  
.sustancia{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.solos{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006699;
}

.combinados{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006699;
}

.Sust_ProductoLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}				

.Lab_laboratorio{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #663300;
}

.Lab_Datos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.Lab_productoLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0033CC;
}

.Lab_productoNoLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.Marca_productoLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
}

.tituloIndice{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #993300;
}

.ATC_Level{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
			  
.sidef{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.sombra{
	background-color:Yellow;
}

.thera_key{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 13px;
}

p.antetitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;
}

p.cuadro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
	text-align: center;
}

p.t-tulo-copia {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 18px;
	font-weight: bold;
	text-transform:uppercase;
}

p.t-tulo-copia-2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 18px;
	font-weight: bold;
	text-transform:uppercase;
}

span.subt-tulo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

p.t-tulo-copy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 18px;
	font-weight: bold;
	text-transform:uppercase;
}

.pantalla{
	background-color:Silver;
   
}

p.tabla-prod {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center; 
}

span.cursivas-normal {
	font-style:italic;
}

span.negro-normal {
	font-weight:bold;
}

span.subindice {
	vertical-align:sub;	
}

span.superindice {
	vertical-align:super;
	font-size:12px;
}

span.tabla-negro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}

td.normal-tabla-prod {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

p.biblio-refe {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p.corniza-derecha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p.corniza-izquierda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p.fin-de-producto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p.tabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p.tabla-prod {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p.titulo-prod-nuevo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 18px;
	font-weight: bold;
	text-transform:uppercase;
}

span.footnote-reference {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

span.hyperlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}

span.negro-cursivo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
}

span.negro-subindice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	vertical-align:sub;
	font-weight:bold;
}

span.negro-superindice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	vertical-align:super;
	font-weight:bold;
}

span.puntos-formulaci-n {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

span.superindice-tit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	vertical-align:super;
}

span.symbolprop-bt-sub-ndice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	vertical-align:sub;
}

span.symbolprop-bt-super-ndice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	vertical-align:super;
}

span.symbol-subindice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	vertical-align:sub;
}

@charset "utf-8";
/* CSS Document */
div.group {}		
div.image {}		
div.story {}

p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}		
p.antetitulo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	font-weight: bold;
	text-transform:uppercase;
}	

p.bandos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-indent: 12px;
}		
p.bandos1 {}		
p.bandos-copy {}

body
{
	background-color:#ffffff;
	margin: 10px 10px 5px 10px;
}		
p.base-de-prop- 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style:italic;
	color:#4F94CD
}		

p.cuadro
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}

p.forma-farmac- 
{
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF7F24;
	font-weight: bold;
}		
p.ingrediente 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color:#4F94CD;
	font-weight:bold;
}		
p.ingrediente-2 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color:#4F94CD;
	font-weight:bold;
}		
p.normal 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:justify;
}		
p.pie 
{
	color: #993300;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:center;
	
}		
p.pie1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
	font-weight:bold;
}		
p.tabla
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	
}


p.tabla-prod {}		
p.titulo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}	
p.st-tulo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}	
p.titulo1
{
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}		
p.t-tulo 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}		
p.t-tulo-2 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}		
p.t-tulo-copia 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}
p.st-tulo-copia
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}
p.t-tulo-copia-2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
	
	
}		

p.t-tulo-copia-3 { font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;}

p.t-titulo-copia-copy
{  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;}		
p.t-tulo-copia-copy { font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;}		
p.titulo-copia-copy
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}

p.t-tulo-copy  
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
}		
p.t-tulo-copy-2 
{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	text-transform:uppercase;
	
}		
p.zletra {}		
span.subindice {}		
span.subtitulo {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #336699;
	font-weight: bold;
	text-transform:uppercase;}		
span.subt-tilo {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #336699;
	font-weight: bold;
	text-transform:uppercase;}	


span.subt-tulo 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #336699;
	font-weight: bold;
	text-transform:uppercase;
	
}		
span.superindice {}		
span.symbol {}		
td.normal-tabla-prod {}		
td.pantalla {}		
td.tabla {}