<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MedinetConnectionString" connectionString="Data Source=195.192.2.17;Initial Catalog=Medinet 20120625;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<!--<add name="MedinetConnectionString" connectionString="Data Source=localhost;Initial Catalog=Medinet 20110302;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>