@charset "utf-8";
/* CSS Document */

body 
{
	margin: 15px 15px 15px 15px;
	background-color:White;
	}
div.content 
{
	top: 0;
	left: 46%;
	margin-left: -445px;
	z-index:1;
	width: auto;
	height: 700px;
	position: absolute;
}
a:link {
	color: #545454;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #00868B;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	color: #000066;
}
a:active {
	text-decoration: none;
}

p.MainLetter
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		color: #003399;
		text-transform:uppercase;
	}

span.CompanyName
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #CC6600;
	}

span.Lab_Data
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#003366;
	
	}

.MenuBarOptions
	{
		font-family: Arial;
		font-size: 14px;
		font-weight: bold;
	}

span.PageTitle
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}                   

p.DistribFoot
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #0033CC;
	}

p.ProductName
	{
		font-family: Arial;
		font-size: 14px;
		font-weight: bold;
		color: #880000;		
	}

p.DescPortadilla
	{
		font-size: 12px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #003366;
		text-align:justify;
	}
	


span.ProductName
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 15px;
		font-weight: bold;
		color: #CC6600;
		
	}

span.SubProduct
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #003366;
	}

span.BranchName
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #CC6600;
	}

span.MedProdName
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #000066;
	}

span.MedProdData
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #003366;
	}

div.StateTitle
	{ 
		FONT-WEIGHT: bold;
		FONT-SIZE: 13px; 
		COLOR: #CC6600; 
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-align: left;
		
	}

p img
{
	margin-bottom:40px;
}
