.widthtable {
    width: 100%;
}

.labels {
    font-size: 12px;
    font-style: italic;
    color: #065869;
}

.spans {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.labelsform {
    font-size: 12px;
    font-style: italic;
    color: #003870;
}

.labelsforms {
    color: #3d71a1;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
}


/*WEBGRID
    ----------------------------------------------------*/
/*.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: table;
    border: solid 1px #3c8dbc;
    border-top-left-radius: 50px;
    border-collapse: separate;
    background-color: white;
    border-bottom: none;
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}*/
/*
.webgrid-table1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    height: auto;
    display: table;
    border: solid 1px #3c8dbc;
    border-top-left-radius: 50px;
    border-collapse: separate;
    background-color: white;
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.webgrid-header1 th {
    color: white;
    text-align: center;
    padding: 0px 5px;
    font-size: 15px;
    border-bottom: none;
    border-bottom-left-radius: 1000px;
    border-bottom-color: red;
}
*/
.webgrid-header th {
    background-color: #62a6cd;
    color: white;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-bottom: 2px;
    padding: 0px 5px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
    border-bottom: none;
    border-left: none;
}

.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    border: solid 1px #3c8dbc;
    border-top-left-radius: 50px;
    border-collapse: separate;
    background-color: white;
    border-bottom: none;
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.webgrid-table1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    height: auto;
    border: solid 1px #3c8dbc;
    border-top-left-radius: 50px;
    border-collapse: separate;
    background-color: white;
    /*border-bottom: none;*/
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.webgrid-footer {
    font-size: 15px;
    font-style: oblique;
    text-align: center;
    font-size: 18px;
    border-bottom: none;
}

.webgrid-row-style {
    padding: 3px 7px 2px;
    vertical-align: central;
}

.webgrid-alternating-row {
    background-color: #cde1ec;
    padding: 3px 7px 2px;
}

.webgrid-a {
    background-color: #028934;
    color: white;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
    color: #01437c;
}

.webgrid-table td, th {
    border-bottom: 1px solid #3c8dbc;
}

/*          FIN           */

.column5 {
    width: 5%;
}

.column15 {
    width: 15%;
}

.column84 {
    width: 8.4%;
}

.column45 {
    width: 45%;
}

.column75 {
    width: 7.5%;
}

.column47 {
    width: 47.5%;
}

.column7 {
    width: 6%;
}

.column12 {
    width: 12%;
}

.column19 {
    width: 19.33%;
}

.column10 {
    width: 10%;
}

.column37 {
    width: 37%;
}

.column13 {
    width: 13.33%;
}

.column944 {
    width: 9.44%;
}

.column33 {
    width: 33.33%;
}

.column40 {
    width: 40%;
}

.column30 {
    width: 30%;
}

.column216 {
    width: 21.66%;
}

.column28 {
    width: 28.33%;
}

.column16 {
    width: 16.66%;
}

.scrollbar1 {
    overflow-x: scroll;
    overflow-y: no-display;
    width: 500px;
    height: 600px;
}

.stylish-input-group .input-group-addon {
    background: white !important;
    cursor: pointer;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.responsive-container {
    position: relative;
    width: 100%;
    height: 70px;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font: 0/0 a;
}

    .img-container:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }


.tests {
    color: red;
    background-color: #3c8dbc;
}
