<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="MedinetConnectionString" connectionString="Data Source=195.192.2.17;Initial Catalog=Medinet 20130920;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>-->
    <add name="MedinetConnectionString" connectionString="Data Source=localhost;Initial Catalog=Medinet 20130920;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="MedinetConnectionString" connectionString="Data Source=195.192.2.17;Initial Catalog=DEAQ;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
