<?xml version="1.0"?>
<!-- 
    Nota: en lugar de editar manualmente este archivo, puede usar la 
      herramienta Administración de sitios web para configurar las opciones de su aplicación. Use
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará la lista completa de opciones y comentarios en 
    machine.config.comments ubicado normalmente en 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>

    <add key="XML" value="C:\Guia61\Disco\indices\"/>
    
  </appSettings>
  
	<connectionStrings>
		<add name="GuiaConnectionString" connectionString="Data Source=195.192.2.249;Initial Catalog=Guia_nueva; Persist Security Info=True;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>

    <!--<add name="GuiaConnectionString" connectionString="Data Source=NALLELI-GONZALE;Initial Catalog=Guia_Nueva;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/></assemblies></compilation>
		<!--
          La sección <authentication> habilita la configuración 
          del modo de autenticación de seguridad que usa 
          ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Windows"/>
		<!--
           La sección <customErrors> habilita la configuración de 
           las acciones que se deben realizar si un error no controlado tiene lugar
           durante la ejecución de una solicitud. En concreto, 
           permite a los desarrolladores configurar páginas de error html 
           que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
