
@{
    ViewBag.Title = "Index";
}

<table border="0" style="width:100%">
    <thead>
        <tr>
            <th style="text-align:center;width:33.33%">
                <h2 style="color: #065977">Sustancias INN</h2>
            </th>
            <th style="text-align: center; width: 33.33%">
                <h2 style="color: #065977">Sustancias PLM Asociadas</h2>
            </th>
            <th style="text-align: center; width: 33.33%">
                <h2 style="color: #065977">Sustancias PLM Disponibles</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label>Buscar: </label> <input type="text" class="form-control" onkeyup="searchinnsubstancessc($('#innscc').val())" id="innscc"/>
            </td>
            <td>
                @*<label>Buscar: </label> <input type="text" class="form-control" onkeyup="searchplmsubstancessc($(this).val())" />*@
            </td>
            <td>
                <label>Buscar: </label> <input type="text" class="form-control" onkeyup="searchplmsubstancessc($('#plmscc').val())" id="plmscc"/>
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">
                <table style="width:100%" border="0" id="innasubstancessc"></table>
            </td>
            <td style="vertical-align:top">
                <table style="width:100%" border="0" id="inaplmsubstancessc"></table>
            </td>
            <td style="vertical-align:top">
                <table style="width:100%" border="0" id="plmactivesubstances"></table>
            </td>
        </tr>
    </tbody>
</table>
