<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DEACIDataAccessComponent.Properties.Settings.DEACIConnectionString"
            connectionString="Data Source=MX-DF2K8APP02;Initial Catalog=DEACI;Persist Security Info=True;User ID=sa;Password=t0m$0nl@t1n@"
            providerName="System.Data.SqlClient" />
        <add name="DEACIDataAccessComponent.Properties.Settings.DEACIConnectionString1"
            connectionString="Data Source=MX-DF2K8APP02;Initial Catalog=DEACI;Persist Security Info=True;User ID=sa;Password=t0m$0nl@t1n@"
            providerName="System.Data.SqlClient" />
        <add name="DEACIDataAccessComponent.Properties.Settings.Guia_20120119ConnectionString"
            connectionString="Data Source=MX-DF2K8APP02;Initial Catalog=&quot;Guia 20120119&quot;;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>