@helper GetTreeView(List<GuiaNet.Models.Categories> tree, int? ParentId)
{
    foreach (var i in tree.Where(a => a.ParentId == (ParentId)))
    {
        <li>
            @{var subitem = tree.Where(a => a.ParentId == (i.CategoryId)).Count();}

            @if (subitem > 0)
            {
                <span class="expand1 collapsible">&nbsp;</span>
            }
            else
            {
                <span style="display:inline-block">&nbsp;</span>
            }
            <span>
                <a href="/SalesModule/insertclientcategoriess/@i.CategoryId" class="insertau" style="color:black">@i.Description.ToUpper()</a>
            </span>
            @if (subitem > 0)
            {
                <ul>
                    @TreeviewCategories.GetTreeView(tree, i.CategoryId)
                </ul>
            }
        </li>
    }
}