/*.wrapper {
    margin-top: 45px;
}*/

.form-signin {
    max-width: 330px;
    /*max-height: 100%;*/
    /*padding: 30px 38px;*/
    margin: 0px auto 0;
    /*border: 1px solid #cccccc;*/
    margin-top: 60px;
    -webkit-border-radius: 5px 5px 0 0;
    background-color: #fff;
}


.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background-color: #3a6f9f;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.login-wrap {
    padding: 20px;
}


.has-feedback {
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}








.input-group {
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
    color: #60B99A;
}

.form-control {
    height: 45px;
    color: #003873;
}

.input-group:hover span i {
    color: #60B99A;
}

/*.btn-block {
    border-radius: 0px;
    margin-top: 25px;
    background-color: #0088e9;
    border: none;
}

    .btn-block:hover {
        background-color: #60B99A;
    }*/

.bol {
    position: relative;
    margin-top: -40px;
    color: #60B99A;
}

#contenedor {
    height: 100%;
}

#contenido {
    height: 100%;
    margin: auto;
    width: 50%;
}
