@charset "utf-8";
/* CSS Document */
span.letra_clientes
			{
				font-size:18pt;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				color:#FF7F24;
				font-weight; bold;
			}
p.letra_clientes
			{
				font-size:18pt;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				color:#FF7F24;
				font-weight; bold;
			}

p.titulo {
	font-family: Calibri;
	font-size: 20px;
	text-transform:uppercase;
	font-weight:bold;	
	color:#8E2323;
	text-align:center;
}

p.SeccionTitulo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-transform:uppercase;
	font-weight:bold;	
	color:#8E2323;
	text-align:center;
}

p.ind
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform:uppercase;
	font-weight:bold;
}

p.estado
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform:uppercase;
	font-weight:bold;
}

p.producto
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p.marcas
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-transform:uppercase;
	font-weight:bold;	
	color:#8E2323;
	text-align:left;
}

p.subsection
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-transform:uppercase;
	font-weight:bold;	
	color:#8E2323;
	text-align:left;
}

p.subsectionEstado
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#2F4F4F;	 
	font-weight:bold;	
}

p.laboratorio
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

span.lab 
{
	font-family: Calibri;
	font-size: 12px;
	text-transform:uppercase;	
}

span.company
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#8E2323;
	font-weight:bold;
	text-transform:uppercase;
	
}

span.company1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#8E2323;
	font-weight:bold;
	text-transform:uppercase;
	margin-left:46px;  
	
}

p.company
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#8E2323;
	font-weight:bold;
	text-transform:uppercase;
	margin-left:46px;  
	
}


span#lblSubSectionDescription
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-transform:uppercase;
	font-weight:bold;	
	color:#8E2323;
	text-align:center;
}

span.linksSecciones
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;	
	font-weight:bold;
	color:#2F4F4F;
}

a.vease
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;	
	font-weight:bold;
	color:#607B8B;
}

a
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#003333;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color:#663300;
}

a:hover {
	text-decoration: none;
	color: #996600;
}

a:active {
	text-decoration: none;
}

a.linksSecciones
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#003333;
	text-decoration: none;
}

a.linksSecciones:visited
{
	text-decoration: none;
	color:#663300;
}

a.linksSecciones:hover
{
	text-decoration: none;
	color: #996600;
}

a.linksLab
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#8B4513;
	font-weight:bold;
}

a.labs
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#5C3317;
}

span.tamiz
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;	
	font-weight:bold;	
	color:Black;
}
p.tiras
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#778899;
	font-weight:bold;
}


a.linksSubSecciones
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;	
	font-weight:bold;	
	color:Black;
}
p.sinInfo
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	 text-align:center;
	
}

span.direccion
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;	 
	
}

p.direccion
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left:46px; 	 
	
}

span.direccion1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left:46px;  
	
}

p.SectionTitle
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;	 
	font-weight:bold;
	text-transform:uppercase;
	color:#104E8B;
}
body
{
	background-color:#ffffff;
	margin-left:35px;
	margin-right:35px;
	margin-bottom:30px;
	margin-top:30px;
	
    
}		

p.productoNoLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#003333;
	font-weight:bold;
	font-size: 12px;
	color: #663300;	
		
	
}