@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
body{
  margin: 0;
  background: #363636;
  font-family: 'Open Sans', sans-serif;
}
.box{
  position: fixed;
  background: #363636;
  top: 0;
  width: 100%;
  height: 50px;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0,0,0,0.75);
  border-bottom-width: 3px;
  -webkit-user-select: none;
  cursor: default;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -webkit-transition: 0.2s ease-in-out;
  margin-bottom: 200px;
}
.box:hover{
  -webkit-box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
}
.brand{
  position: fixed;
  color: whitesmoke;
  left: 20px;
  top: 15px;
  font-weight: normal;
  -webkit-transition: 0.1s ease-in-out;
}
.brand:hover{
  left: 25px;
}
.container{
  position: relative;
  top: 100px;
}
i{
  margin-right: 10px;
}
.container.center{
  text-align: center;
}
h1{
  color: whitesmoke;
  font-weight: 300;
}
#p{
  margin-bottom: 50px;
  color: whitesmoke;
}
#tips{
  color: #7a7a7a;
  font-size: 9pt;
  margin-top: 10x;
}
a{
  color: #1abc9c;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color: #2ecc71;
}
.input{
  background: #ecf0f1;
  padding: 10px;
  font-family: "Open Sans";
  color: #7f8c8d;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 3px;
  border-color: #bdc3c7;
  outline: none;
  border-radius: 5px 0px 5px 0px;
  -webkit-transition: 0.1s ease-in-out;
}
.input:focus{
  border-color: #3498db;
  color: #34495e;
}