body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*WEBGRID
    ----------------------------------------------------*/
.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
    height: 100%;
    display: table;
    border-collapse: separate;
    border: solid 1px #028934;
    background-color: white;
}

    .webgrid-table td, th {
        /* border: 1px solid #028934;*/
        padding: 3px 7px 2px;
        border-bottom: 1px solid #028934;
    }

.webgrid-header {
    background-color: #028934;
    color: white;
    text-align: right;
    padding-bottom: 4px;
    padding-top: 5px;
    border: 1px solid #EFFCD7;
    margin-bottom: 2px;
    padding: 0px 5px;
}

.webgrid-footer {
    font-size: 15px;
    font-style: oblique;
}

.webgrid-row-style {
    padding: 3px 7px 2px;
    vertical-align: central;
}

.webgrid-alternating-row {
    background-color: #EFFCD7;
    padding: 3px 7px 2px;
}

.webgrid-a {
    background-color: #028934;
    color: white;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}

.buton {
    text-align: center;
}

.column {
    width: 90px;
}

.column2 {
    width: 90px;
}

.column3 {
    width: 100px;
    text-align: center;
}

.column4 {
    width: 90px;
}

.column5 {
    width: 40px;
}
.column6 {
    width: 200px;
    text-align: center;
}

.column7 {
    width: 110px;
}

.grid1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 40%;
    height: 100%;
    display: table;
    border-collapse: separate;
    border: solid 1px #028934;
    background-color: white;
}

.form-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    color: #999;
    opacity: 1;
    color: #999;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Bloqueo*/
.pantalla_bloqueo {
    display: none;
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 1000;
}

#mensaje_bloqueador {
    color: white; /* COLOR DEL TEXTO */
    padding-top: 20% !important; /* TAMAÑO DEL REÑENO, PARTE SUPERIOR(TOP)*/
    text-align: center; /* ALINEACION DEL TEXTO*/
    font-weight: bold;
    z-index: 5000;
}

#imagen_bloqueador {
    color: white;
    padding-top: 10px;
    text-align: center;
    z-index: 5000;
}

.buton {
    text-align: center;
}


.scrollbar {
    /*overflow-x: scroll;
            overflow-y:no-display;*/
    width: 400px;
    /*height: 600px;*/
}

a.image {
    background: url(../Images/active.png) no-repeat top left;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
}

.scrollbar1 {
    overflow-x: scroll;
    overflow-y: no-display;
    width: 500px;
    height: 600px;
}

/*Here We will add some css for style our treeview*/
.collapse1 {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.expand1 {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x2401.png');
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.treeview ul {
    font: 14px Arial, Sans-Serif;
    margin: 0px;
    padding-left: 20px;
    list-style: none;
}

.treeview > li > a {
    font-weight: bold;
}

.treeview li {
}

    .treeview li a {
        padding: 4px;
        font-size: 12px;
        display: inline-block;
        text-decoration: none;
        width: auto;
    }


/*FileBrowser*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    text-align: left;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
/**/

/*FILTERPP*/
.FILTERPP {
    color: red;
}
