<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <siteMap defaultProvider="main">
      <providers>
        <add siteMapFile="Web.sitemap"  name="main" type="System.Web.XmlSiteMapProvider"/>
      </providers>
    </siteMap>
    <customErrors mode="Off"/>
    <httpRuntime appRequestQueueLimit="100" executionTimeout="60000" maxRequestLength="10240" requestLengthDiskThreshold="4096"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxGridView.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.Web.ASPxEditors.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Office.Interop.Word, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="DevExpress.XtraReports.v10.1.Web, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Utils.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="Microsoft.SharePoint.Client, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.mshtml, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
  </system.webServer>
  
  <appSettings>
    <add key="HashKey" value="vGqN+ZLzxfW+wuQLMBgDTEel7cM="/>
    <add key="DefaultCategory" value="101"/>
    <add key="BaseURL" value="./TmpDocs"/>
    <add key="NickUser" value="iriano"/>
    <add key="Version" value="2.0.3"/>
    <add key="Symptoms" value="OTC"/>
    <add key="RouteXML" value="C:\PLM Development VS2010\WebApplications\Medinet\Bin\SourceXML\substanceList.xml"/>
    <!--<add key="RouteImages" value="\\195.192.2.17\Proyectos\Obras PLM\Mexico\DEF 60\Medinet\"/>-->
    <!--<add key="RouteImages" value="C:\inetpub\wwwroot\MedPru\"/>-->
    <add key="RouteImages" value="C:\PLM Development VS2010\PLMSites\Medinet\"/>
  </appSettings>
  <connectionStrings>
    <add name="PLMConectorDB.Properties.Settings.MedinetConnectionString" connectionString="Data Source=LUIS-VEGA\LUISVEGA;Initial Catalog=Medinet;User ID=sa;Password=t0m$0nl@t1n@; Connect Timeout=200; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="PLMConectorDB.Properties.Settings.PLMUsersConnectionString" connectionString="Data Source=LUIS-VEGA\LUISVEGA;Initial Catalog=PLMUsers;User ID=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <devExpress>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>