body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
}

h2 {
    color: rgba(0,0,0,9);
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0 0 1px;
    padding: 0 0 2px;
    border-radius: 3px;
    text-decoration: none;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,9)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,2)));
    -webkit-border-image: -webkit-linear-gradient(top left, rgba(172, 172, 172, 0.9) 0%, rgba(250, 239, 161, 0.1) 100%);
    border-image-slice: 3;
}

.laboratory {
    color: #8e0000;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-weight: bold;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,9)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,2)));
    -webkit-border-image: -webkit-linear-gradient(top left, rgba(172, 172, 172, 0.9) 0%, rgba(250, 239, 161, 0.1) 100%);
    border-image-slice: 3;
}

.Medinet {
    color: #476b0d;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-weight: bold;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,9)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,2)));
    -webkit-border-image: -webkit-linear-gradient(top left, rgba(172, 172, 172, 0.9) 0%, rgba(250, 239, 161, 0.1) 100%);
    border-image-slice: 3;
}

.País {
    color: rgba(0,0,0,2);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-weight: bold;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,9)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,2)));
    -webkit-border-image: -webkit-linear-gradient(top left, rgba(172, 172, 172, 0.9) 0%, rgba(250, 239, 161, 0.1) 100%);
    border-image-slice: 3;
}

.label, .glyphiconr {
    margin-right: 5px;
}

.Red {
    color: #8e0000;
    font-weight: bold;
}

.Green {
    color: #5f9a00;
    font-weight: bold;
}

.Blue {
    color: #9dcae1;
    font-weight: bold;
}

.blockscreen {
    display: none;
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

#blockmessage {
    color: white;
    padding-top: 20% !important;
    text-align: center;
    font-weight: bold;
    z-index: 5000;
}

#blockimg {
    color: white;
    padding-top: 10px;
    text-align: center;
    z-index: 5000;
}

.TextBlock {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    opacity: 0.6;
}
