@{
    ViewBag.Title = "ChoseType";
}

<div class="row">
    <div class="headergroup">
        <div class="title">
            <div class="title-word" style="font-weight:normal; text-transform:none">Medinet <span style="color:#de5347">v3.0</span></div>
            <div class="title-word" style="font-weight:normal; text-transform:none;"><strong style="color:#000000;">Médicos | </strong>País - Laboratorio</div>
        </div>
    </div>
</div>
<br />
<nav style="background: rgba(233, 233, 233, 0.11); border-radius: 10px;" class="navbar navbar-default center col-lg-12">
    <input type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
    </div>
</nav>
<br />
<br />
<div class="row">
    <div class="headergroup">
        <div class="title">
            <div class="title-word" style="font-weight:normal; text-transform:none;">
                Seleccione el módulo a Clasificar
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3 text-center">
        <button class="btn btn-primary ldr" onclick="location.href='@Url.Action("Index", "Medical")';return false;">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>&nbsp; Clasificar Productos</span>
        </button>
    </div>
    <div class="col-lg-3 text-center">
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>&nbsp; Clasificar Sustancias</span>
        </button>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<br />
<br />
<br />
<br />