<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="PLMConectorDB.Properties.Settings.HTMLConnection" connectionString="Data Source=195.192.2.17; Initial Catalog=Medinet 20110809; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<!--<add name ="PLMConectorDB.Properties.Settings.HTMLConnection" connectionString="Data Source=localhost; Initial Catalog=VMB 20100326; User=sa;Password=net05prog" providerName="System.Data.SqlClient"/>-->
		<add name ="PLMConectorDB.Properties.Settings.PEVConnection" connectionString="Data Source=jramirez001; Initial Catalog=PEV29; User=sa;Password=net05prog" providerName="System.Data.SqlClient"/>
		<!--<add name ="PLMConectorDB.Properties.Settings.DEAQConnection" connectionString="Data Source=195.192.2.153; Initial Catalog=DEAQ 20 20091106; User=sa;Password=mireyasilva1208" providerName="System.Data.SqlClient"/>-->
		<add name ="PLMConectorDB.Properties.Settings.DEAQConnection" connectionString="Data Source=jramirez001; Initial Catalog=DEAQ 20111103; User=sa;Password=net05prog" providerName="System.Data.SqlClient"/>
		<add name ="PLMConectorDB.Properties.Settings.WebSiteConnection" connectionString="Data Source=195.192.2.153; Initial Catalog=WebSite; User=sa;Password=mireyasilva1208" providerName="System.Data.SqlClient"/>
		<add name ="PLMConectorDB.Properties.Settings.VMBConnection" connectionString="Data Source=195.192.2.17; Initial Catalog=VMB 20100303; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name ="PLMConectorDB.Properties.Settings.PEV30Connection" connectionString="Data Source=195.192.2.17; Initial Catalog=DEIA 21; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
		<add name ="PLMConectorDB.Properties.Settings.ClientsConnection" connectionString="Data Source=195.192.2.17; Initial Catalog=PLM Clients 20100823; User=sa;Password=t0m$0nl@t1n@" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>